<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.ZongBanKuaiDao"><!-- 指向那个dao 类方便使用 -->

    <resultMap id="base" type="ZongBanKuaiprice"><!-- 前面数据库，后面实体 -->
    	<result column="id" property="id"></result>
    	<result column="bankuaiming" property="bankuaiming"></result>
    	<result column="createtime" property="createtime"></result>
    	
    </resultMap>

      <select id="findByPage"  resultMap="base" parameterType="ZongBanKuaiprice">
			select * from zongbankuai
			where 1=1
   	  </select>
   	
   	 <select id="find"  resultMap="base" parameterType="ChanPinprice">
       select * from zongbankuai z
       where 1=1
       <if test="id != null and id!='' ">
        	AND z.id=#{id}
       </if>
    </select> 
   	
   	<!-- 
   	 <delete id="delete" parameterType="ChanPinprice">
		DELETE FROM chanpin  
		WHERE  
	<if test="chanpinId != null and chanpinId!='' ">
        chanpin_id=#{chanpinId}
    </if>
	</delete>
    
    <delete id="deleteBatch" parameterType="java.util.List">
	DELETE from chanpin 
	WHERE chanpin_id in(
		<foreach item="o" collection="list" open="" separator="," close="" >
			#{o.chanpinId}
		</foreach>
		)
	</delete>
    
    <insert id="insert"  parameterType="ChanPinprice">
 	<![CDATA[
	insert INTO chanpin (chanpin_id,img,biaoti,shixian,jianjie,tiaojian,liucheng,lianxiwomen,chanpingfenleiid,faburen,chanpinfabushijian)
	VALUES (#{chanpinId},#{img},#{biaoti},#{shixian},#{jianjie},#{tiaojian},#{liucheng},#{lianxiwomen},#{chanpingfenleiid},#{faburen},#{chanpinfabushijian})
	]]>  
	</insert>
    
    <select id="find"  resultMap="base" parameterType="ChanPinprice">
       SELECT c.*,u.jobmingzi,s.shenhecishu,s.bohuiyuanyin,s.shenhezhuangtai FROM chanpin c
			LEFT JOIN shenhe s ON c.chanpin_id=s.shenhe_chanpin_id
			LEFT JOIN userjob u ON c.chanpingfenleiid=u.id
       where 1=1
       <if test="chanpinId != null and chanpinId!='' ">
        	AND c.chanpin_id=#{chanpinId}
       </if>
    </select> 
    
    <update id="update" parameterType="ChanPinprice">
		UPDATE chanpin 
		SET img=#{img},
			biaoti=#{biaoti},
			shixian=#{shixian},
			jianjie=#{jianjie},
			tiaojian=#{tiaojian},
			liucheng=#{liucheng},
			lianxiwomen=#{lianxiwomen},
			chanpingfenleiid=#{chanpingfenleiid},
			faburen=#{faburen},
			chanpinfabushijian=#{chanpinfabushijian}
		WHERE chanpin_id=#{chanpinId}
	</update>
    
    
    
	
	
	<select id="finddlid"  resultMap="base" parameterType="Userprice">
      SELECT * FROM `user` WHERE denglu_id=#{dengluId}
    </select>
	
	  -->
</mapper>