.bg{
	background-image: url(../image/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;	
	padding-bottom:0.6rem;
}
.title{
	color:#FFF;
	background-color:#f86941;
	}

.news_con img{
	margin: 0.6rem  0.3rem 0.3rem 0.3rem;
	width: 5rem;
	height:4rem;
}
.font h6{
	height: 0.8rem;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	font-size: 12px;
	font-weight: 700;
}
.font_ell {
	height: 2.8em;
	text-overflow:ellipsis;
	overflow:hidden;
	color: #939393;
	font-size: 10px;
}
.font div{
	margin-top: 10px;
	font-size: 0.6rem;
	font-weight: 700;
	white-space: nowrap;
}
.text{
	padding: 5px 10px 10px 10px;
}
.news{
	margin: 1rem 1.1rem 0 1.1rem;
	background: #fff;
	border-radius: 0.5rem;
}
